shared-workspace-lockfile = true
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true

//localhost:4873/:_authToken="secretVerdaccioToken"
//0.0.0.0:4873/:_authToken="secretVerdaccioToken"
